<%- include('head')  %>
<script src="./js/housekeeping.js" defer></script>
<%- include('header') %>

<h1> Checked Out Rooms </h1>

<span class="results"> Number of Checked out rooms: <%= data.length %> </span> 

<br /><br />

<%- include('rooms_table') %>



<%- include('footer') %>