<%- include('head')  %>
<script src="./js/reception.js" defer></script>
<%- include('header') %>

<h1> Rooms </h1>

<span class="results"> Number of rooms: <%= data.length %> </span> 

<br /><br />

<%- include('rooms_table') %>


<%- include('footer') %>